.app-header{
  background: linear-gradient(to right, #1eacfe,#0683d1);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: space-between;
  margin-bottom: 15px;
  font-family: 'trebuchet ms';
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.app-logo{
  width: 80px;
  height: 80px;
  margin-left: 15px;
  margin-right: 20px;
  padding: 10px;
}

.app-body{
  display: inline-block;
  padding: 10px;
  margin: auto;
  width: 80%;
}

.input-meme{
  width: 20%;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  align-self: center;
  
}

.input-meme input{
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  margin: 5px;
}

.btn-meme{
  width: 20%;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px;
  background: linear-gradient(to right, #1eacfe,#0683d1);
  color: rgb(255, 255, 255);
  font-family: 'trebuchet ms';
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.btn-meme:hover{
  background: linear-gradient(to right, #0683d1,#1eacfe);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);  
  transition: 1s;
}

.meme-img{
  width: 50%;
  border: 1px solid black;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);  
  margin: 20px;
}